/*
  red: #EF4F3F;
  blue: #6EA8F1;
  green: #50D086;
*/

body {
  padding: 0;
}

.container {
  width: 350px;
  height: 530px;
  padding: 20px;
  background: #6EA8F1;
  transition: background 0.5s ease;
}

.container.available {
  background: #50D086;

}

.container.busy {
  background: #EF4F3F;

}

footer {
  position: absolute;
  left: 40px;
  bottom: 30px;
  width: calc(100% - 80px);
}

footer span {
  float: left;
  color: white;
  font-weight: 100;
  font-size: 21px;
  letter-spacing: 4px;
  cursor: pointer;
}

footer a {
  float: right;
  font-weight: 100;
  font-size: 21px;
  letter-spacing: 4px;
  text-decoration: none !important;
  text-transform: uppercase;
  color: white !important;
  cursor: pointer;
}

footer a i {
  font-size: 28px !important;
}

.jumbotron {
  background: transparent;
  color: white;
  padding: 0;
  margin: 0;
}

.jumbotron h1 {
  font-weight: 100;
  color: white;
  letter-spacing: 4px;
  font-size: 32px;
  text-transform: uppercase;
}

.albums-dashboard-button {
  float: right;
  display: inline-block;
  margin: 15px 5px;
}

.message-person {
  width: 100%;
  border-radius: 25px;
  border: none;
  background: white;
  font-size: 23px;
  font-weight: 200;
  margin: 35px 0;
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
  outline: none !important;
}

.message-person.available {
  color: #50D086;
}

.message-person.busy {
  color: #EF4F3F;
}

.search-person {
  width: 100%;
  border: 1px solid white !important;
  border-radius: 25px;
  background: transparent;
  color: white;
  font-size: 23px;
  font-weight: 200;
  margin: 35px 0;
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
  outline: none !important;
}

.search-person::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    white;
}

.search-person[aria-expanded=true] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid white;

}

.custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: calc(100% - 70px);
  display: none;
  background-color: rgba(255,255,255,0.8);
  height: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid white;
  border-top: none;
  overflow: scroll;
}

.custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #fff;
  color: #333;
  display: none;
}

.custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.custom-popup-wrapper > .dropdown-menu > li > a {
  color: #6EA8F1;
}

.user-details {
  width: 100%;
  height:80px;
  margin-top: 0;
}

.user-details .user-image {
  float: left;
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 80px;
}

.user-details .user-texts {
  width: 0;
  overflow: hidden;
  float: left;
  height: auto;
  list-style: none;
  transition: width 1s ease;
  white-space: nowrap;
  padding-left: 20px;
}

.user-details:hover .user-texts {
  width: 140px;
  overflow: auto;
}

.user-details .user-texts li a {
  color: white !important;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none !important;
}

.rate {
  float: right;
  width: 40px;
  height: 40px;
  background-size: cover;
  margin-top: 30px;
}
.wixer {
  background-image: url('../images/tiny-kaker.png')
}

.king{
  background-image: url('../images/happy-kaker.png')
}

.mega-kaker{
  background-image: url('../images/mega-kaker.png')
}