<div class="jumbotron">
  <h1>wixers</h1>
  <input ng-model="searchText"></input>
  <!--<div ng-show="searchText.length > 0" ng-repeat="user in users | filter:searchText">-->
  <div ng-show="searchText.length > 0" ng-repeat="user in users | filter:searchText">
    <div>{{$index}} {{user.name}}</div>
    <!--<div>{{user.location}}</div>-->
  </div>
  <p class="lead">
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="notifyMe('1')">Notify2</a></p>

  <p><a class="btn btn-lg btn-success" ng-click="sendMessage('567151fe7d2baa1d49c0dcfa', 'Hi Guy')">Message to Sopher</a></p>
  <p><a class="btn btn-lg btn-success" ng-click="sendMessage('567151fe7d2baa1d49c0dcf9', 'Oded the Shoded')">Message to Odesh</a></p>
  <p><a class="btn btn-lg btn-success" ng-click="sendMessage('5671521b7d2baa1d49c0dd18', 'Yo Brian')">Message to Brian</a></p>
  <p><a class="btn btn-lg btn-success" ng-click="sendMessage('567151237d2baa1d49c0d904', 'Miki Miki Miki Miki')">Message to Miki</a></p>

</div>